@media (max-width: 575.99px){
    .navbar-toggler {
        border: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .banner_right {
        width: 275px;
        height: 256px;
        margin-left: auto;
    }
    .banner_feature{
        transform: scale(0.7);
        top: 12%;
    }
    .banner_left h1 {
        font-size: 28px;
        line-height: 36px;
        margin-top: 24px;
    }
    .banner_left p {
        font-size: 13px;
        line-height: 24px;
        margin-right: 0;
    }
    .banner_btn {
        justify-content: center;
    }
  
    .number_users {
        justify-content: center;
    }
    .number_users span strong {
        font-size: 36px;
    }
    #podcast {
        padding-top: 40px;
        margin-top: 24px;
    }
    .podcast_header h4 {
        font-size: 24px;
        line-height: 36px;
    }
    .podcast_header p {
        padding: 0;
    }
    .podcast_item {
        margin-top: 32px;
    }
    .podcast_item_body p {
        padding: 0 50px;
    }
    #service {
        padding-bottom: 48px;
    }
    .service_left h4 {
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        margin-top: 24px;
    }
    .service_left p {
        padding-right: 0;
        text-align: center;
    }
    .list_service{
        display: flex;
        justify-content: center;
    }
    .service_btn {
        text-align: center;
    }
  
    #popular {
        padding: 32px 0;
    }
    .popular_btn {
        margin-bottom: 0;
    }
    .popular_header h4 {
        font-size: 28px;
        line-height: 36px;
    }
    .popular_header p {
        padding: 0;
    }
    .left button{
        width: 141px;
    }
    .right button{
        width: 118px;
    }
    .popular_btn .left button{
        padding: 16px 31px;
    }
    .popular_btn .left button,
    .popular_btn .right button{
        margin-bottom: 16px;
    }
 

}