/* common css start */
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
    padding-left: 0 ;
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: "Commissioner", sans-serif;
}
/* common css end */
/* Navbar part css starts */
.navbar{
    padding: 25px 0;
}
.navbar-brand {
    margin-right: 0;
    
}

.nav-item{
    padding: 0 14px;
}

.nav-link{
    color: #62636c;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    transition: all linear 0.3s;
    
}

.nav-link:hover{
    color: #7678ed;
}

.nav_btn{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
    background-color: #7678ed;
    border: none;
}
/* Navbar part css ends */

/* Banner part css starts */
#banner{
    padding-top: 50px;
    padding-bottom: 50px;
}
.banner_left h1{
    color: #13132c;
    font-size: 56px;
    font-weight: 600;
    line-height: 76px;    
}

.banner_left p{
    color: #898998;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-right: 216px;
    margin-top: 16px;    
}

.banner_btn{
    margin-top: 26px;
    display: flex;
    column-gap: 16px;
}

.banner_btn button{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
    background-color: #7678ed;
    border: 1px solid #7678ed;
    transition: all linear 0.3s;
}
.banner_btn button:hover{
    color: #7678ed; ;
    background-color: transparent;
    border: 1px solid #7678ed;
}

.number_users{
    display: flex;
    column-gap: 24px;
    margin-top: 36px;
}

.number_users span strong{
    color: #f18701;
    font-size: 40px;
    font-weight: 500;
    margin-right: 3px;    
}

.number_users span{
    color: #13132c;
    font-size: 16px;
    font-weight: 400;

}
.banner_right{
    height: 520px;
}
.banner_right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner_feature {
    top: 43%;
    left: -103px;
}
/* Banner part css ends */

/* Podcast part css starts */
#podcast{
    background-color: #fafafa;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-top: 48px;
}

.podcast_header h4{
    color: #13132c;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
}

.podcast_header p{
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 0 50px;
}

.podcast_item{
    padding: 24px 35px;
    box-shadow: 10px 32px 72px rgba(15, 13, 35, 0.04);
    background-color: #fff;
    text-align: center;
}

.podcast_item_body{
    margin-top: 32px;
}
.podcast_item_body h5{
    color: #13132c;
    font-size: 20px;
    font-weight: 500;
}

.podcast_item_body p{
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}

.podcast_items:last-child .podcast_item p{
    padding: 0 10px;
}
/* Podcast part css ends */

/* Service part css starts */
#service{
    padding: 114px 0;
}

.service_left h4{
    color: #13132c;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
}

.service_left p{
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 145px;
    padding-top: 16px;
}

.service_left ul{
    margin-top: 32px;
}
.service_left li{
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 15px;
}

.service_left li .service_checkbox{
    color: #fff;
    font-size: 7px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #f18701;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_left li span{
    color: #13132c;
    font-size: 16px;
    font-weight: 400;
}

.service_btn{
    margin-top: 40px;
}

.service_btn button{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
    background-color: #7678ed;
    border: 1px solid #7678ed;
    transition: all linear 0.3s;
}

.service_btn button:hover{
    background-color: #6053c9;
    border: 1px solid #7678ed;
}

.service_right img{
    width: 100%;
}










/* Service part css ends */
