/* common css start */
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
    padding-left: 0 ;
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: "Commissioner", sans-serif;
}
/* common css end */
/* Navbar part css starts */
.navbar{
    padding: 25px 0;
}
.navbar-brand {
    margin-right: 0;
    
}

.nav-item{
    padding: 0 14px;
}

.nav-link{
    color: #62636c;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    transition: all linear 0.3s;
    
}

.nav-link:hover{
    color: #7678ed;
}

.nav_btn{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
    background-color: #7678ed;
    border: none;
}
/* Navbar part css ends */

/* Banner part css starts */
#banner{
    padding-top: 50px;
    padding-bottom: 50px;
}
.banner_left h1{
    color: #13132c;
    font-size: 56px;
    font-weight: 600;
    line-height: 76px;    
}

.banner_left p{
    color: #898998;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-right: 216px;
    margin-top: 16px;    
}

.banner_btn{
    margin-top: 26px;
    display: flex;
    column-gap: 16px;
}

.banner_btn button{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
    background-color: #7678ed;
    border: 1px solid #7678ed;
    transition: all linear 0.3s;
}
.banner_btn button:hover{
    color: #7678ed; ;
    background-color: transparent;
    border: 1px solid #7678ed;
}

.number_users{
    display: flex;
    column-gap: 24px;
    margin-top: 36px;
}

.number_users span strong{
    color: #f18701;
    font-size: 40px;
    font-weight: 500;
    margin-right: 3px;    
}

.number_users span{
    color: #13132c;
    font-size: 16px;
    font-weight: 400;

}
.banner_right{
    height: 520px;
}
.banner_right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner_feature {
    top: 43%;
    left: -103px;
}
/* Banner part css ends */

/* Podcast part css starts */
#podcast{
    background-color: #fafafa;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-top: 48px;
}

.podcast_header h4{
    color: #13132c;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
}

.podcast_header p{
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 0 50px;
}

.podcast_item{
    padding: 24px 35px;
    box-shadow: 10px 32px 72px rgba(15, 13, 35, 0.04);
    background-color: #fff;
    text-align: center;
}

.podcast_item_body{
    margin-top: 32px;
}
.podcast_item_body h5{
    color: #13132c;
    font-size: 20px;
    font-weight: 500;
}

.podcast_item_body p{
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}

.podcast_items:last-child .podcast_item p{
    padding: 0 10px;
}
/* Podcast part css ends */

/* Service part css starts */
#service{
    padding: 114px 0;
}

.service_left h4{
    color: #13132c;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
}

.service_left p{
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 145px;
    padding-top: 16px;
}

.service_left ul{
    margin-top: 32px;
}
.service_left li{
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 15px;
}

.service_left li .service_checkbox{
    color: #fff;
    font-size: 7px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #f18701;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_left li span{
    color: #13132c;
    font-size: 16px;
    font-weight: 400;
}

.service_btn{
    margin-top: 40px;
}

.service_btn button{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
    background-color: #7678ed;
    border: 1px solid #7678ed;
    transition: all linear 0.3s;
}

.service_btn button:hover{
    background-color: #6053c9;
    border: 1px solid #7678ed;
}

.service_right img{
    width: 100%;
}
/* Service part css ends */

/* Popular part css starts */
#popular{
    background-color: #fafafa;
    padding: 64px 0;
}

.popular_header h4{
    color: #13132c;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
}

.popular_header p{
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 10px;
}

.popular_tabs{
    margin-top: 40px;
}

.popular_btn{
    margin-bottom: 48px;
    display: flex;
    column-gap: 16px;
    justify-content: center;
}

.popular_btn button{
    color: #898998;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
    background-color: transparent;
    border: 1px solid #ddd;
    transition: all linear 0.3s;
}

.popular_btn button:hover{
    background-color: #6062c9;
    color: #fff;
}
.popular_item{
    background-color: #fff;
    padding: 24px;
    box-sizing: border-box;
}
.popular_item_image{
    height: 234px;
    overflow: hidden;
}

.popular_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular_item_content{
    margin-top: 24px;
}

.left_content h6{
    color: #13132c;
    font-size: 18px;
    font-weight: 500;
}

.left_content ul{
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    column-gap: 16px;
    align-items: center;
    margin-top: 10px;
}

.left_content ul li:last-child{
    position: relative;
}

.left_content ul li:last-child::after{
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #6062c9;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

.playbutton{
    color: #6062c9;
    font-size: 12px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
}

.popular_more_btn{
    margin-top: 24px;
}

.popular_more_btn button{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
    background-color: #6062c9;
    border: 1px solid #6062c9;
    transition: all linear 0.3s;
}

.popular_more_btn button:hover{
    background-color: transparent;
    color: #7678ED;
    border: 1px solid #6062c9;
}
/* Popular part css ends */

/* Plan part css starts */
#plan{
    padding: 48px 0;
}

.plan_header h4{
    color: #13132c;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
}

.plan_header p{
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 120px;
    margin-top: 24px;
}

.plan_btn{
    display: flex;
    column-gap: 24px;
    justify-content: center;
    margin-top: 48px;
}

.plan_btn button{
    color: #898998;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
    background-color: transparent;
    border: 1px solid #ddd;
    transition: all linear 0.3s;
}

.plan_btn button:hover{
    background-color: #6062c9;
    color: #fff;
}

.price_plans{
    margin-top: 48px;
}

.pricing_box{
    background-color: #fff;
    box-shadow: 10px 32px 72px rgba(15, 13, 35, 0.1);
    padding: 24px;
    transition: all linear 0.3s;
}

.pricing_box:hover{
    background-color: #6062c9;
}

.pricing_box:hover h4,
.pricing_box:hover p,
.pricing_box:hover .price,
.pricing_box:hover .price strong,
.pricing_box:hover .pricing_list_service ul li span{
    color: #fff;
}

.pricing_box:hover .plan_checkbox{
    background-color: #fff;
}

.pricing_box:hover .plan_checkbox i{
    color: #6062c9;
}

.pricing_box h4{
    color: #13132c;
    font-size: 32px;
    font-weight: 500;

}
.pricing_box p{
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 50px;
    margin-top: 24px;
}

.pricing_box .price{
    color: #898998;
    font-size: 16px;
    font-weight: 400;
}

.pricing_box .price strong{
    color: #13132c;
    font-size: 40px;
    font-weight: 500;
}

.pricing_box ul{
    margin-top: 32px;
}

.pricing_box li{
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 15px;
}

.pricing_box li .plan_checkbox{
    color: #fff;
    font-size: 7px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #7678ed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing_box li span{
    color: #13132c;
    font-size: 16px;
    font-weight: 400;
}

.pricing_btn{
    margin-top: 32px;
}

.pricing_btn button{
    width: 100%;
    color: #6062c9;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #6062c9;
    padding: 14px 0;
    transition: all linear 0.3s;
}
.pricing_box:hover .pricing_btn{
    background-color: #fff;
}
/* Plan part css ends */

/* Testimonial part css starts */
#testimonial{
    padding-top: 60px;
    padding-bottom: 140px;
}

.testimonial_header h4{
    color: #13132c;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;    
}

.testimonial_btn button{
    color: #6062c9;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
    background-color: transparent;
    border: 1px solid #6062c9;
    transition: all linear 0.3s;
}

.testimonial_btn button:hover{
    background-color: #6062c9;
    color: #fff;
}

.testimonial_parent{
    margin-top: 56px;    
}

.testimonial_item{
    padding: 24px;
    border: 1px solid #ddd;
}

.quatation{
    position: relative;
}

.quatation::after{
    position: absolute;
    content: "";
    left: 32px;
    top: 60%;
    width: 298px;
    height: 2px;
    background-color: #ddd;
}

.testimonial_item p{
    color: #62636c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    font-style: italic;
    padding-right: 60px;

}

.reviewer{
    column-gap: 16px;
    margin-top: 32px;
}
.reviewer .reviewer_image{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #ddd;
}

.reviewer .reviewer_content h6{
    color: #13132c;
    font-size: 18px;
    font-weight: 500;
}

.reviewer .reviewer_content span{
    color: #898998;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    display: inline-block;
}
/* Testimonial part css ends */

/* Footer part css starts */
footer{
    padding: 90px 0;
    background-color: #13132c;
    /* margin-top: 140px; */
}

.footer_left p{
    color: #fff;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 50px;
    margin-top: 24px;
}

.footer_list h5{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;   
}
.footer_list ul{
    margin-top: 32px;
}
.footer_list ul li{
    color: #fff;
    opacity: 0.7;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
}

.footer_list ul li:last-child{
    margin-bottom: 0;
}

.list_icon_with_data{
    column-gap: 8px;
}

.list_icon_with_data i{
    font-size: 16px;
}

.copyright{
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    margin-top: 48px;
    text-align: center;
}

.copyright span{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 24px;
}



/* Footer part css ends */
